@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6fc9ef;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

a:link {
  text-decoration: none;
}

header {
  background-color: #498aa6;
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
}

header h1 {
  line-height: 100px;
}

header h1 a {
  color: #fff;
}

.movie-list {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
}

.movie-list a {
  color: #4b4b4b;
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: min-content;
  height: 520px;
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(7, 4, 26, 0.15) 0px 0px 10px 1px;
}

.movie-card:hover {
  background-color: #498aa6;
  color: #fff;
}

.movie-card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.movie-card img {
  height: 400px;
  margin-top: auto;
}

.movie-card p {
  font-weight: bold;
  margin-top: 10px;
}

.movie-wrapper,
.form-wrapper,
.review-wrapper {
  width: 90vw;
  margin: 20px auto;
  background-color: #fff;
  color: #4b4b4b;
  border-radius: 10px;
  box-shadow: rgba(7, 4, 26, 0.15) 0px 0px 10px 1px;
  padding: 20px;
}

.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.movie-wrapper img {
  grid-row: 1/5;
  height: 400px;
  justify-self: center;
}

.movie-wrapper h2,
.movie-wrapper p:nth-of-type(2) {
  align-self: center;
}

.btn {
  text-transform: uppercase;
  background-color: #498aa6;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #a2a2a2;
  color: #fff;
  cursor: not-allowed;
}

.btn-reset {
  color: #a2a2a2;
  background-color: inherit;
  border: none;
}

.count {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

.movie-wrapper a {
  text-align: center;
  line-height: 50px;
  align-self: end;
  justify-self: end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper div {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 10px;
}

.form-wrapper input {
  margin: 10px 10px 0 0;
  background-color: #f4f4f4;
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.rating li {
  margin: 10px 10px;
  position: relative;
  background-color: #f4f4f4;
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover {
  background: #498aa6;
  color: #fff;
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked ~ label {
  background: #498aa6;
  color: #fff;
}

.review-wrapper {
  display: flex;
  position: relative;
}

.review-wrapper span {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #498aa6;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.review-wrapper p {
  margin-left: 50px;
  margin-right: 100px;
}

.review-wrapper .icons {
  position: absolute;
  height: 100%;
  width: 100px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.review-wrapper .icons svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.review-wrapper .icons svg:hover {
  color: #498aa6;
  cursor: pointer;
}

@media (max-width: 768px) {
  .movie-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .movie-wrapper h2 {
    grid-row: 1;
  }

  .movie-wrapper img {
    grid-row: 2;
  }

  .movie-wrapper p {
    margin: 20px 0;
    text-align: center;
  }

  .movie-wrapper a {
    justify-self: center;
  }
}
